* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    transition: all ease 2s;
}

.side1 {
    width: 100vw;
    height: 500vh;
    
    
}
.footage {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

.menu {
    width: 70px;
    height: 200px;
    right: 100px;
    top: 50px;
    position: fixed;
    opacity:0;
}

ul {
    margin-top: 30px;
    text-align: center;
    
}

li {
    margin: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    list-style-type: none;
    opacity: 0;
    width: 70px;
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

li:hover{
    transform: scale(1.1);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 40px;
}

.change .bar1 {
    
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.change li {
    opacity: 1;
}

.content {
    position: absolute;
    min-width: 100%;
    min-height: 20%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.content p {
    margin: 10px 150px 0 130px;
    color: #f1f1f1;
    font-size: 30px;
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
    border-radius: 5px;
    
}
    
.button {
    margin: 10px 0 10px 130px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
}

.button:hover {
    background: #ddd;
    color: black;
}



#next4 {
    background: linear-gradient(0,#283c86,#45a247);
    height: 920px;
    
    
}

#block {
    height: 90%;
    display: grid;
    grid-template-areas:
        "block1 block2 block3 block4"
        "block5 block6 block7 block8"
        "block9 block10 block11 block12";
    grid-gap: 10px;
    position: absolute;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: 260px 260px 260px;
    bottom: 4%;
    left: 10%;
       
}

.block {
    width: 255px;
    height: 255px;
    border: black solid 1px;
    margin: 30px 70px 30px 70px;
    border-radius: 16px;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    color: white;
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
    transition: all ease .5s;
    cursor: pointer;
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.block:hover {
    transform: scale(1.05);
    font-size: 32px;
}

h1 {
    position: absolute;
    left: 50%;
    top: 3%;
    color: #fff;
    transform: translate(-50%,0);
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
}

.block1 {
    grid-area: block1;
    background: url(pictures/fireplace.jpeg);
}

.block2 {
    grid-area: block2;
     background: url(pictures/cascade.jpeg);
}

.block3 {
    grid-area: block3;
    background: url(pictures/pool.jpeg);
}

.block4 {
    grid-area: block4;
    background: url(pictures/mantra.jpeg);
}

.block5 {
    grid-area: block5;
    background: url(pictures/forest.jpeg);
}

.block6 {
    grid-area: block6;
    background: url(pictures/snow.jpeg);
}

.block7 {
    grid-area: block7;
    background: url(pictures/rainy.jpeg);
}

.block8 {
    grid-area: block8;
    background: url(pictures/niagara.jpeg);
}

.block9 {
    grid-area: block9;
    background: url(pictures/ocean.jpeg);
}

.block10 {
    grid-area: block10;
    background: url(pictures/autumn.jpeg);  
}

.block11 {
    grid-area: block11;
     background: url(pictures/storm.jpeg);
}

.block12 {
    grid-area: block12;
    background: url(pictures/arctica.jpeg);
    
}




@media screen and (max-width: 1600px){
    
    #next4 {
        height: 900px;
    }
    
   #block  {
       left: 5%;
    }   
} 

@media screen and (max-width: 1500px){
    
   #block  {
       left: 0%;
    }   
} 

@media screen and (max-width: 1450px){
    
   #block  {
       grid-template-columns: repeat(4,255px);
    }   
} 


    
@media screen and (max-width: 1400px){
    
    .content p{
        font-size: 28px;
        background: rgba(0,0,0,0.5);
        padding: 10px;
    }
     
}

@media screen and (max-width: 1300px){
    
    #next4 {
        height: 1200px;
    }
    #block {
        grid-template-areas:
        "block1 block2 block3"
        "block4 block5 block6"
        "block7 block8 block9"
        "block10 block11 block12"
        ;
        left: 10%;
    }
}

@media screen and (max-width: 1150px){
    
    .content p{
        font-size: 26px;
        margin: 10px 200px 0 20px;
    }
    .button {   
    margin: 10px 0 10px 20px;
    }
    #block {
        left: 5%;
    }
    
}

@media screen and (max-width: 1050px){
    
    .content p{
        font-size: 23px;
    }
     #next4 {
        height: 2450px;
    }
    #block {
        grid-template-areas:
        "block1 block2"
        "block3 block4"
        "block5 block6"
        "block7 block8"
        "block9 block10"
        "block11 block12"
        ;
        grid-template-rows: 260px 260px 260px 260px 260px 260px;
        left: 10%;
    }
    
}

@media screen and (max-width: 950px){
    
    .content p {
        font-size: 21px;
    }
     #block {
        left: 5%;
    }
    
}
 
@media screen and (max-width: 880px){
    
    .content p {
        font-size: 19px;
    }
    
    h1 {
        top: 1%;
    }
    #next4 {
        height: 3350px;
    }
    
    #block{
        top: 2%;
         grid-template-areas:
        "block1"
        "block2"
        "block3"
        "block4"
        "block5"
        "block6"
        "block7"
        "block8"
        "block9"
        "block10"
        "block11"
        "block12"
        ;
        grid-template-rows: 260px 260px 260px 260px 260px 260px 260px 260px 260px 260px 260px 260px;
        left: 25%;
    }
}

@media screen and (max-width: 700px){
    
    .content p {
        font-size: 16px;
    }
    .button {
        font-size: 16px;
        padding: 5px;
    }
    #block {
        left: 0%;
    }
}

@media screen and (max-width: 500px){
    #block {
        left: -9%;
    }
    .menu {
        right: 10%;
    }
    li {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .block {
    width: 200px;
    height: 200px;
    font-size: 20px;
    }
    .block:hover {
      font-size: 22px;  
    }
    #block {
        grid-template-rows: 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px;
       
    }
    #next4 {
        height: 2750px;
    }
    .menu {
        right: 12%;
    }
}

@media screen and (max-width: 350px){
    #block {
        left: -15%;
    }
     #next4 {
        height: 2700px;
    }
}