* {
    margin: 0;
    padding: 0;
}

#cube {
    position: relative;
    transform-origin: 50% 50% -240px;
    transform-style: preserve-3d;
    transform: perspective(20000px);
    transition: all ease 3s;
     box-sizing: border-box;
    height: 300px;
    width: 480px;
    top: 400px;
    left: 500px;
    
}

.side {
    
    position: absolute;
    border: 10px black solid;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -240px;
    text-align: center;
    line-height: 480px;
    font-size: 80px;
    font-weight: 600;
    opacity: 1;
     height: 300px;
    width: 480px;
  
}
#side1 {
    background: red;
    
    
}

#side5 {
    background: green;
    transform: rotate3d(1,0,0,90deg);
     height: 480px;
    
   
    
    
    
    
    
}

#side6 {
    background: purple;
    transform: rotate3d(1,0,0,-270deg); height: 480px;
    
     
   
    
     
   
    
    
    
    
    
}

#side3 {
    background: yellow;
    transform: rotate3d(0,1,0,180deg);
   
}

#side2 {
    background: blue;
    transform: rotate3d(0,1,0,90deg);
}
    

#side4 {
    background: pink;
    transform: rotate3d(0,1,0,-90deg);
    
    
}

button {
     background: white;
    width: 50px;
    height: 50px;
    position: absolute;
}

.right {
   
    right: 50px;
    top: 300px;
    transition: 5s;
}

.up {
right: 100px;
    top: 100px;
}
