* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: black; 
}

embed {width: 0;
position: absolute;
}

video {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
   
}


.menu {
    width: 70px;
    height: 200px;
    right: 100px;
    top: 50px;
    position: fixed;
}

ul {
    margin-top: 30px;
    text-align: center;
}

li {
    margin: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    list-style-type: none;
    opacity: 0;
    width: 70px;
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

li:hover{
    transform: scale(1.1);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 40px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.change li {
    opacity: 1;
}

#loader, #loader1, #loader2, #loader3, #loader4, #loader5, #loader6, #loader7, #loader8, #loader9, #loader9, #loader10, #loader11 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 16px white solid;
    border-top: 16px TOMATO solid;
    animation: anim 2s linear infinite;
}

#loader1 {
   border-top: 16px MEDIUMSPRINGGREEN solid; 
}

#loader2 {
   border-top: 16px INDIANRED solid; 
}

#loader3 {
   border-top: 16px MAROON solid; 
}

#loader4 {
   border-top: 16px DEEPPINK solid; 
}

#loader5 {
   border-top: 16px GREENYELLOW solid; 
}

#loader6 {
   border-top: 16px CHARTREUSE solid; 
}

#loader7 {
   border-top: 16px MEDIUMTURQUOISE solid; 
}

#loader8 {
   border-top: 16px ORANGERED solid; 
}

#loader9 {
   border-top: 16px PALEGREEN solid; 
}

#loader10 {
   border-top: 16px YELLOW solid; 
}

#loader11 {
   border-top: 16px PLUM solid; 
}


@keyframes anim {
    0% {
         transform: translate(-50%,-50%) rotate(0);
    }
     100% {
         transform: translate(-50%,-50%) rotate(360deg);
    }
}
